<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ryd.system.mybatis.StSystemParamMapper">
  <resultMap id="BaseResultMap" type="com.ryd.system.model.StSystemParam">
    <id column="id" jdbcType="CHAR" property="id" />
    <result column="key_name" jdbcType="VARCHAR" property="keyName" />
    <result column="key_value" jdbcType="VARCHAR" property="keyValue" />
    <result column="key_type" jdbcType="SMALLINT" property="keyType" />
    <result column="status" jdbcType="SMALLINT" property="status" />
    <result column="created_by" jdbcType="CHAR" property="createdBy" />
    <result column="created_on" jdbcType="BIGINT" property="createdOn" />
    <result column="updated_by" jdbcType="CHAR" property="updatedBy" />
    <result column="updated_on" jdbcType="BIGINT" property="updatedOn" />
  </resultMap>
  <sql id="Base_Column_List">
    id, key_name, key_value, key_type, status, created_by, created_on, updated_by, updated_on
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from st_system_param
    where id = #{id,jdbcType=CHAR}
  </select>
  <select id="selectByKey" parameterType="java.lang.String" resultType="java.lang.String">
    select key_value from st_system_param
    where key_name = #{key,jdbcType=VARCHAR}
  </select>
  <select id="selectListByKeySelective" resultType="java.util.List" resultMap="BaseResultMap">
    select * from st_system_param
    limit #{offset, jdbcType=INTEGER},#{limit, jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from st_system_param
    where id = #{id,jdbcType=CHAR}
  </delete>
  <insert id="insert" parameterType="com.ryd.system.model.StSystemParam">
    insert into st_system_param (id, key_name, key_value, 
      key_type, status, created_by, 
      created_on, updated_by, updated_on
      )
    values (#{id,jdbcType=CHAR}, #{keyName,jdbcType=VARCHAR}, #{keyValue,jdbcType=VARCHAR}, 
      #{keyType,jdbcType=SMALLINT}, #{status,jdbcType=SMALLINT}, #{createdBy,jdbcType=CHAR}, 
      #{createdOn,jdbcType=BIGINT}, #{updatedBy,jdbcType=CHAR}, #{updatedOn,jdbcType=BIGINT}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.ryd.system.model.StSystemParam">
    insert into st_system_param
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="keyName != null">
        key_name,
      </if>
      <if test="keyValue != null">
        key_value,
      </if>
      <if test="keyType != null">
        key_type,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="createdBy != null">
        created_by,
      </if>
      <if test="createdOn != null">
        created_on,
      </if>
      <if test="updatedBy != null">
        updated_by,
      </if>
      <if test="updatedOn != null">
        updated_on,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=CHAR},
      </if>
      <if test="keyName != null">
        #{keyName,jdbcType=VARCHAR},
      </if>
      <if test="keyValue != null">
        #{keyValue,jdbcType=VARCHAR},
      </if>
      <if test="keyType != null">
        #{keyType,jdbcType=SMALLINT},
      </if>
      <if test="status != null">
        #{status,jdbcType=SMALLINT},
      </if>
      <if test="createdBy != null">
        #{createdBy,jdbcType=CHAR},
      </if>
      <if test="createdOn != null">
        #{createdOn,jdbcType=BIGINT},
      </if>
      <if test="updatedBy != null">
        #{updatedBy,jdbcType=CHAR},
      </if>
      <if test="updatedOn != null">
        #{updatedOn,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ryd.system.model.StSystemParam">
    update st_system_param
    <set>
      <if test="keyName != null">
        key_name = #{keyName,jdbcType=VARCHAR},
      </if>
      <if test="keyValue != null">
        key_value = #{keyValue,jdbcType=VARCHAR},
      </if>
      <if test="keyType != null">
        key_type = #{keyType,jdbcType=SMALLINT},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=SMALLINT},
      </if>
      <if test="createdBy != null">
        created_by = #{createdBy,jdbcType=CHAR},
      </if>
      <if test="createdOn != null">
        created_on = #{createdOn,jdbcType=BIGINT},
      </if>
      <if test="updatedBy != null">
        updated_by = #{updatedBy,jdbcType=CHAR},
      </if>
      <if test="updatedOn != null">
        updated_on = #{updatedOn,jdbcType=BIGINT},
      </if>
    </set>
    where id = #{id,jdbcType=CHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ryd.system.model.StSystemParam">
    update st_system_param
    set key_name = #{keyName,jdbcType=VARCHAR},
      key_value = #{keyValue,jdbcType=VARCHAR},
      key_type = #{keyType,jdbcType=SMALLINT},
      status = #{status,jdbcType=SMALLINT},
      created_by = #{createdBy,jdbcType=CHAR},
      created_on = #{createdOn,jdbcType=BIGINT},
      updated_by = #{updatedBy,jdbcType=CHAR},
      updated_on = #{updatedOn,jdbcType=BIGINT}
    where id = #{id,jdbcType=CHAR}
  </update>
</mapper>