<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ryd.business.mybatis.StAccountMapper" >
  <resultMap id="BaseResultMap" type="com.ryd.business.model.StAccount" >
    <id column="id" property="id" jdbcType="CHAR" />
    <result column="real_name" property="realName" jdbcType="VARCHAR" />
    <result column="account_name" property="accountName" jdbcType="VARCHAR" />
    <result column="account_num" property="accountNum" jdbcType="VARCHAR" />
    <result column="password" property="password" jdbcType="VARCHAR" />
    <result column="total_assets" property="totalAssets" jdbcType="DECIMAL" />
    <result column="use_money" property="useMoney" jdbcType="DECIMAL" />
    <result column="account_level" property="accountLevel" jdbcType="SMALLINT" />
    <result column="account_type" property="accountType" jdbcType="SMALLINT" />
    <result column="mobile" property="mobile" jdbcType="VARCHAR" />
    <result column="sex" property="sex" jdbcType="SMALLINT" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="createtime" property="createtime" jdbcType="BIGINT" />
    <result column="updatetime" property="updatetime" jdbcType="BIGINT" />
    <result column="status" property="status" jdbcType="SMALLINT" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, real_name, account_name, account_num, password, total_assets, use_money, account_level, 
    account_type, mobile, sex, remark, createtime, updatetime, status
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from st_account
    where id = #{id,jdbcType=CHAR}
  </select>
  <select id="selectByNameKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select
    <include refid="Base_Column_List" />
    from st_account
    where account_num = #{accountNum,jdbcType=VARCHAR}
  </select>
  <select id="selectByNamePassword" resultType="com.ryd.business.model.StAccount" resultMap="BaseResultMap">
    select * from st_account where account_num = #{accountNum,jdbcType=VARCHAR} and password = #{password,jdbcType=VARCHAR}
  </select>
  <select id="selectListByKeySelective" resultType="java.util.List" resultMap="BaseResultMap">
    select * from st_account
    <trim prefix="WHERE" prefixOverrides="AND|OR">
      <if test="account.realName != null and account.realName != ''" >
        real_name = #{account.realName,jdbcType=VARCHAR}
      </if>
      <if test="account.accountName != null and account.accountName != ''" >
        and account_name like CONCAT(CONCAT('%', #{account.accountName, jdbcType=VARCHAR}),'%')
      </if>
      <if test="account.accountNum != null and account.accountNum != ''" >
        and account_num like CONCAT(CONCAT('%', #{account.accountNum, jdbcType=VARCHAR}),'%')
      </if>
      <if test="account.accountLevel != null" >
        and account_level = #{account.accountLevel,jdbcType=SMALLINT}
      </if>
      <if test="account.accountType != null" >
        and account_type = #{account.accountType,jdbcType=SMALLINT}
      </if>
      <if test="account.status != null" >
        and status = #{account.status,jdbcType=SMALLINT}
      </if>
      <if test="startTime != null" >
        and createtime &gt;= #{startTime,jdbcType=BIGINT}
      </if>
      <if test="endTime != null" >
        and createtime &lt;= #{endTime,jdbcType=BIGINT}
      </if>
    </trim>
    limit #{offset, jdbcType=INTEGER},#{limit, jdbcType=INTEGER}
  </select>
  <select id="selectCount" resultType="java.lang.Integer">
    select count(id) from st_account
    <trim prefix="WHERE" prefixOverrides="AND|OR">
      <if test="account.realName != null and account.realName != ''" >
        real_name = #{account.realName,jdbcType=VARCHAR}
      </if>
      <if test="account.accountName != null and account.accountName != ''" >
        and account_name like CONCAT(CONCAT('%', #{account.accountName, jdbcType=VARCHAR}),'%')
      </if>
      <if test="account.accountNum != null and account.accountNum != ''" >
        and account_num like CONCAT(CONCAT('%', #{account.accountNum, jdbcType=VARCHAR}),'%')
      </if>
      <if test="account.accountLevel != null" >
        and account_level = #{account.accountLevel,jdbcType=SMALLINT}
      </if>
      <if test="account.accountType != null" >
        and account_type = #{account.accountType,jdbcType=SMALLINT}
      </if>
      <if test="account.status != null" >
        and status = #{account.status,jdbcType=SMALLINT}
      </if>
      <if test="startTime != null" >
        and createtime &gt;= #{startTime,jdbcType=BIGINT}
      </if>
      <if test="endTime != null" >
        and createtime &lt;= #{endTime,jdbcType=BIGINT}
      </if>
    </trim>
  </select>
  <select id="selectAccountNumByPrimaryKey" resultType="java.lang.String" parameterType="java.lang.String" >
    select account_num
    from st_account
    where id = #{id,jdbcType=CHAR}
  </select>
  <select id="selectAccountNumList" resultType="java.util.List" resultMap="BaseResultMap">
   select id, account_num from st_account
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from st_account
    where id = #{id,jdbcType=CHAR}
  </delete>
  <delete id="deleteBatch" parameterType="List">
    delete from st_account where id in
    <foreach collection="list" index="index" item="item" open="(" separator="," close=")">
      #{item}
    </foreach>
  </delete>
  <insert id="insert" parameterType="com.ryd.business.model.StAccount" >
    insert into st_account (id, real_name, account_name, 
      account_num, password, total_assets, 
      use_money, account_level, account_type, 
      mobile, sex, remark, 
      createtime, updatetime, status)
    values (#{id,jdbcType=CHAR}, #{realName,jdbcType=VARCHAR}, #{accountName,jdbcType=VARCHAR}, 
      #{accountNum,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}, #{totalAssets,jdbcType=DECIMAL}, 
      #{useMoney,jdbcType=DECIMAL}, #{accountLevel,jdbcType=SMALLINT}, #{accountType,jdbcType=SMALLINT}, 
      #{mobile,jdbcType=VARCHAR}, #{sex,jdbcType=SMALLINT}, #{remark,jdbcType=VARCHAR}, 
      #{createtime,jdbcType=BIGINT}, #{updatetime,jdbcType=BIGINT}, #{status,jdbcType=SMALLINT})
  </insert>
  <insert id ="insertBatch" parameterType="java.util.List" >
    insert into  st_account (id, real_name, account_name,
    account_num, password, total_assets,
    use_money, account_level, account_type,
    mobile, sex, remark,
    createtime, updatetime, status)
    values
    <foreach collection ="list" item ="item" index ="index" separator =",">
      (#{item.id,jdbcType=CHAR}, #{item.realName,jdbcType=VARCHAR}, #{item.accountName,jdbcType=VARCHAR},
      #{item.accountNum,jdbcType=VARCHAR}, #{item.password,jdbcType=VARCHAR}, #{item.totalAssets,jdbcType=DECIMAL},
      #{item.useMoney,jdbcType=DECIMAL}, #{item.accountLevel,jdbcType=SMALLINT}, #{item.accountType,jdbcType=SMALLINT},
      #{item.mobile,jdbcType=VARCHAR}, #{item.sex,jdbcType=SMALLINT}, #{item.remark,jdbcType=VARCHAR},
      #{item.createtime,jdbcType=BIGINT}, #{item.updatetime,jdbcType=BIGINT}, #{item.status,jdbcType=SMALLINT})
    </foreach>
  </insert>
  <insert id="insertSelective" parameterType="com.ryd.business.model.StAccount" >
    insert into st_account
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="realName != null" >
        real_name,
      </if>
      <if test="accountName != null" >
        account_name,
      </if>
      <if test="accountNum != null" >
        account_num,
      </if>
      <if test="password != null" >
        password,
      </if>
      <if test="totalAssets != null" >
        total_assets,
      </if>
      <if test="useMoney != null" >
        use_money,
      </if>
      <if test="accountLevel != null" >
        account_level,
      </if>
      <if test="accountType != null" >
        account_type,
      </if>
      <if test="mobile != null" >
        mobile,
      </if>
      <if test="sex != null" >
        sex,
      </if>
      <if test="remark != null" >
        remark,
      </if>
      <if test="createtime != null" >
        createtime,
      </if>
      <if test="updatetime != null" >
        updatetime,
      </if>
      <if test="status != null" >
        status,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=CHAR},
      </if>
      <if test="realName != null" >
        #{realName,jdbcType=VARCHAR},
      </if>
      <if test="accountName != null" >
        #{accountName,jdbcType=VARCHAR},
      </if>
      <if test="accountNum != null" >
        #{accountNum,jdbcType=VARCHAR},
      </if>
      <if test="password != null" >
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="totalAssets != null" >
        #{totalAssets,jdbcType=DECIMAL},
      </if>
      <if test="useMoney != null" >
        #{useMoney,jdbcType=DECIMAL},
      </if>
      <if test="accountLevel != null" >
        #{accountLevel,jdbcType=SMALLINT},
      </if>
      <if test="accountType != null" >
        #{accountType,jdbcType=SMALLINT},
      </if>
      <if test="mobile != null" >
        #{mobile,jdbcType=VARCHAR},
      </if>
      <if test="sex != null" >
        #{sex,jdbcType=SMALLINT},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null" >
        #{createtime,jdbcType=BIGINT},
      </if>
      <if test="updatetime != null" >
        #{updatetime,jdbcType=BIGINT},
      </if>
      <if test="status != null" >
        #{status,jdbcType=SMALLINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ryd.business.model.StAccount" >
    update st_account
    <set >
      <if test="realName != null" >
        real_name = #{realName,jdbcType=VARCHAR},
      </if>
      <if test="accountName != null" >
        account_name = #{accountName,jdbcType=VARCHAR},
      </if>
      <if test="accountNum != null" >
        account_num = #{accountNum,jdbcType=VARCHAR},
      </if>
      <if test="password != null" >
        password = #{password,jdbcType=VARCHAR},
      </if>
      <if test="totalAssets != null" >
        total_assets = #{totalAssets,jdbcType=DECIMAL},
      </if>
      <if test="useMoney != null" >
        use_money = #{useMoney,jdbcType=DECIMAL},
      </if>
      <if test="accountLevel != null" >
        account_level = #{accountLevel,jdbcType=SMALLINT},
      </if>
      <if test="accountType != null" >
        account_type = #{accountType,jdbcType=SMALLINT},
      </if>
      <if test="mobile != null" >
        mobile = #{mobile,jdbcType=VARCHAR},
      </if>
      <if test="sex != null" >
        sex = #{sex,jdbcType=SMALLINT},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null" >
        createtime = #{createtime,jdbcType=BIGINT},
      </if>
      <if test="updatetime != null" >
        updatetime = #{updatetime,jdbcType=BIGINT},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=SMALLINT},
      </if>
    </set>
    where id = #{id,jdbcType=CHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ryd.business.model.StAccount" >
    update st_account
    set real_name = #{realName,jdbcType=VARCHAR},
      account_name = #{accountName,jdbcType=VARCHAR},
      account_num = #{accountNum,jdbcType=VARCHAR},
      password = #{password,jdbcType=VARCHAR},
      total_assets = #{totalAssets,jdbcType=DECIMAL},
      use_money = #{useMoney,jdbcType=DECIMAL},
      account_level = #{accountLevel,jdbcType=SMALLINT},
      account_type = #{accountType,jdbcType=SMALLINT},
      mobile = #{mobile,jdbcType=VARCHAR},
      sex = #{sex,jdbcType=SMALLINT},
      remark = #{remark,jdbcType=VARCHAR},
      createtime = #{createtime,jdbcType=BIGINT},
      updatetime = #{updatetime,jdbcType=BIGINT},
      status = #{status,jdbcType=SMALLINT}
    where id = #{id,jdbcType=CHAR}
  </update>
  <update id="updateBatch" parameterType="java.util.List">
    <foreach collection="list" item="item" index="index" separator=";" >
      update st_account
      <set>
        real_name = #{item.realName,jdbcType=VARCHAR},
        account_name = #{item.accountName,jdbcType=VARCHAR},
        account_num = #{item.accountNum,jdbcType=VARCHAR},
        password = #{item.password,jdbcType=VARCHAR},
        total_assets = #{item.totalAssets,jdbcType=DECIMAL},
        use_money = #{item.useMoney,jdbcType=DECIMAL},
        account_level = #{item.accountLevel,jdbcType=SMALLINT},
        account_type = #{item.accountType,jdbcType=SMALLINT},
        mobile = #{item.mobile,jdbcType=VARCHAR},
        sex = #{item.sex,jdbcType=SMALLINT},
        remark = #{item.remark,jdbcType=VARCHAR},
        createtime = #{item.createtime,jdbcType=BIGINT},
        updatetime = #{item.updatetime,jdbcType=BIGINT},
        status = #{item.status,jdbcType=SMALLINT}
      </set>
      where id = #{item.id,jdbcType=CHAR}
    </foreach>
  </update>
  <update id="updateBatchSelective" parameterType="java.util.List">
    <foreach collection="list" item="item" index="index" separator=";" >
      update st_account
      <set >
        <if test="item.realName != null" >
          real_name = #{item.realName,jdbcType=VARCHAR},
        </if>
        <if test="item.accountName != null" >
          account_name = #{item.accountName,jdbcType=VARCHAR},
        </if>
        <if test="item.accountNum != null" >
          account_num = #{item.accountNum,jdbcType=VARCHAR},
        </if>
        <if test="item.password != null" >
          password = #{item.password,jdbcType=VARCHAR},
        </if>
        <if test="item.totalAssets != null" >
          total_assets = #{item.totalAssets,jdbcType=DECIMAL},
        </if>
        <if test="item.useMoney != null" >
          use_money = #{item.useMoney,jdbcType=DECIMAL},
        </if>
        <if test="item.accountLevel != null" >
          account_level = #{item.accountLevel,jdbcType=SMALLINT},
        </if>
        <if test="item.accountType != null" >
          account_type = #{item.accountType,jdbcType=SMALLINT},
        </if>
        <if test="item.mobile != null" >
          mobile = #{item.mobile,jdbcType=VARCHAR},
        </if>
        <if test="item.sex != null" >
          sex = #{item.sex,jdbcType=SMALLINT},
        </if>
        <if test="item.remark != null" >
          remark = #{item.remark,jdbcType=VARCHAR},
        </if>
        <if test="item.createtime != null" >
          createtime = #{item.createtime,jdbcType=BIGINT},
        </if>
        <if test="item.updatetime != null" >
          updatetime = #{item.updatetime,jdbcType=BIGINT},
        </if>
        <if test="item.status != null" >
          status = #{item.status,jdbcType=SMALLINT},
        </if>
      </set>
      where id = #{item.id,jdbcType=CHAR}
    </foreach>
  </update>
  <update id="updateUseMoneyByPrimaryKey">
    update st_account
    <set>
    use_money = #{money,jdbcType=DECIMAL} + st_account.use_money
    </set>
    where id = #{id,jdbcType=CHAR}
  </update>
</mapper>