<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ryd.business.mybatis.StMoneyJournalMapper">
  <resultMap id="BaseResultMap" type="com.ryd.business.model.StMoneyJournal">
    <id column="record_id" jdbcType="CHAR" property="recordId" />
    <result column="quote_id" jdbcType="CHAR" property="quoteId" />
    <result column="account_id" jdbcType="CHAR" property="accountId" />
    <result column="stock_id" jdbcType="CHAR" property="stockId" />
    <result column="quote_price" jdbcType="DECIMAL" property="quotePrice" />
    <result column="amount" jdbcType="BIGINT" property="amount" />
    <result column="deal_type" jdbcType="SMALLINT" property="dealType" />
    <result column="deal_money" jdbcType="DECIMAL" property="dealMoney" />
    <result column="deal_fee" jdbcType="DECIMAL" property="dealFee" />
    <result column="deal_tax" jdbcType="DECIMAL" property="dealTax" />
    <result column="deal_date" jdbcType="DATE" property="dealDate" />
    <result column="deal_time" jdbcType="TIME" property="dealTime" />
  </resultMap>
  <sql id="Base_Column_List">
    record_id, quote_id, account_id, stock_id, quote_price, amount, deal_type, deal_money, 
    deal_fee, deal_tax, deal_date, deal_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from st_money_journal
    where record_id = #{recordId,jdbcType=CHAR}
  </select>
  <select id="selectListByKeySelective" resultType="java.util.List" resultMap="BaseResultMap">
    select * from st_money_journal
     limit #{offset, jdbcType=INTEGER},#{limit, jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from st_money_journal
    where record_id = #{recordId,jdbcType=CHAR}
  </delete>
  <insert id="insert" parameterType="com.ryd.business.model.StMoneyJournal">
    insert into st_money_journal (record_id, quote_id, account_id, 
      stock_id, quote_price, amount, 
      deal_type, deal_money, deal_fee, 
      deal_tax, deal_date, deal_time
      )
    values (#{recordId,jdbcType=CHAR}, #{quoteId,jdbcType=CHAR}, #{accountId,jdbcType=CHAR}, 
      #{stockId,jdbcType=CHAR}, #{quotePrice,jdbcType=DECIMAL}, #{amount,jdbcType=BIGINT}, 
      #{dealType,jdbcType=SMALLINT}, #{dealMoney,jdbcType=DECIMAL}, #{dealFee,jdbcType=DECIMAL}, 
      #{dealTax,jdbcType=DECIMAL}, #{dealDate,jdbcType=DATE}, #{dealTime,jdbcType=TIME}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.ryd.business.model.StMoneyJournal">
    insert into st_money_journal
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="recordId != null">
        record_id,
      </if>
      <if test="quoteId != null">
        quote_id,
      </if>
      <if test="accountId != null">
        account_id,
      </if>
      <if test="stockId != null">
        stock_id,
      </if>
      <if test="quotePrice != null">
        quote_price,
      </if>
      <if test="amount != null">
        amount,
      </if>
      <if test="dealType != null">
        deal_type,
      </if>
      <if test="dealMoney != null">
        deal_money,
      </if>
      <if test="dealFee != null">
        deal_fee,
      </if>
      <if test="dealTax != null">
        deal_tax,
      </if>
      <if test="dealDate != null">
        deal_date,
      </if>
      <if test="dealTime != null">
        deal_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="recordId != null">
        #{recordId,jdbcType=CHAR},
      </if>
      <if test="quoteId != null">
        #{quoteId,jdbcType=CHAR},
      </if>
      <if test="accountId != null">
        #{accountId,jdbcType=CHAR},
      </if>
      <if test="stockId != null">
        #{stockId,jdbcType=CHAR},
      </if>
      <if test="quotePrice != null">
        #{quotePrice,jdbcType=DECIMAL},
      </if>
      <if test="amount != null">
        #{amount,jdbcType=BIGINT},
      </if>
      <if test="dealType != null">
        #{dealType,jdbcType=SMALLINT},
      </if>
      <if test="dealMoney != null">
        #{dealMoney,jdbcType=DECIMAL},
      </if>
      <if test="dealFee != null">
        #{dealFee,jdbcType=DECIMAL},
      </if>
      <if test="dealTax != null">
        #{dealTax,jdbcType=DECIMAL},
      </if>
      <if test="dealDate != null">
        #{dealDate,jdbcType=DATE},
      </if>
      <if test="dealTime != null">
        #{dealTime,jdbcType=TIME},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ryd.business.model.StMoneyJournal">
    update st_money_journal
    <set>
      <if test="quoteId != null">
        quote_id = #{quoteId,jdbcType=CHAR},
      </if>
      <if test="accountId != null">
        account_id = #{accountId,jdbcType=CHAR},
      </if>
      <if test="stockId != null">
        stock_id = #{stockId,jdbcType=CHAR},
      </if>
      <if test="quotePrice != null">
        quote_price = #{quotePrice,jdbcType=DECIMAL},
      </if>
      <if test="amount != null">
        amount = #{amount,jdbcType=BIGINT},
      </if>
      <if test="dealType != null">
        deal_type = #{dealType,jdbcType=SMALLINT},
      </if>
      <if test="dealMoney != null">
        deal_money = #{dealMoney,jdbcType=DECIMAL},
      </if>
      <if test="dealFee != null">
        deal_fee = #{dealFee,jdbcType=DECIMAL},
      </if>
      <if test="dealTax != null">
        deal_tax = #{dealTax,jdbcType=DECIMAL},
      </if>
      <if test="dealDate != null">
        deal_date = #{dealDate,jdbcType=DATE},
      </if>
      <if test="dealTime != null">
        deal_time = #{dealTime,jdbcType=TIME},
      </if>
    </set>
    where record_id = #{recordId,jdbcType=CHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ryd.business.model.StMoneyJournal">
    update st_money_journal
    set quote_id = #{quoteId,jdbcType=CHAR},
      account_id = #{accountId,jdbcType=CHAR},
      stock_id = #{stockId,jdbcType=CHAR},
      quote_price = #{quotePrice,jdbcType=DECIMAL},
      amount = #{amount,jdbcType=BIGINT},
      deal_type = #{dealType,jdbcType=SMALLINT},
      deal_money = #{dealMoney,jdbcType=DECIMAL},
      deal_fee = #{dealFee,jdbcType=DECIMAL},
      deal_tax = #{dealTax,jdbcType=DECIMAL},
      deal_date = #{dealDate,jdbcType=DATE},
      deal_time = #{dealTime,jdbcType=TIME}
    where record_id = #{recordId,jdbcType=CHAR}
  </update>
  <resultMap id="BaseResultMap" type="com.ryd.business.model.StMoneyJournal">
    <result column="record_id" jdbcType="CHAR" property="recordId" />
    <result column="quote_id" jdbcType="CHAR" property="quoteId" />
    <result column="account_id" jdbcType="CHAR" property="accountId" />
    <result column="stock_id" jdbcType="CHAR" property="stockId" />
    <result column="quote_price" jdbcType="DECIMAL" property="quotePrice" />
    <result column="amount" jdbcType="BIGINT" property="amount" />
    <result column="deal_type" jdbcType="SMALLINT" property="dealType" />
    <result column="deal_money" jdbcType="DECIMAL" property="dealMoney" />
    <result column="deal_fee" jdbcType="DECIMAL" property="dealFee" />
    <result column="deal_tax" jdbcType="DECIMAL" property="dealTax" />
    <result column="deal_date" jdbcType="DATE" property="dealDate" />
    <result column="deal_time" jdbcType="TIME" property="dealTime" />
  </resultMap>
  <insert id="insert" parameterType="com.ryd.business.model.StMoneyJournal">
    insert into st_money_journal (record_id, quote_id, account_id, 
      stock_id, quote_price, amount, 
      deal_type, deal_money, deal_fee, 
      deal_tax, deal_date, deal_time
      )
    values (#{recordId,jdbcType=CHAR}, #{quoteId,jdbcType=CHAR}, #{accountId,jdbcType=CHAR}, 
      #{stockId,jdbcType=CHAR}, #{quotePrice,jdbcType=DECIMAL}, #{amount,jdbcType=BIGINT}, 
      #{dealType,jdbcType=SMALLINT}, #{dealMoney,jdbcType=DECIMAL}, #{dealFee,jdbcType=DECIMAL}, 
      #{dealTax,jdbcType=DECIMAL}, #{dealDate,jdbcType=DATE}, #{dealTime,jdbcType=TIME}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.ryd.business.model.StMoneyJournal">
    insert into st_money_journal
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="recordId != null">
        record_id,
      </if>
      <if test="quoteId != null">
        quote_id,
      </if>
      <if test="accountId != null">
        account_id,
      </if>
      <if test="stockId != null">
        stock_id,
      </if>
      <if test="quotePrice != null">
        quote_price,
      </if>
      <if test="amount != null">
        amount,
      </if>
      <if test="dealType != null">
        deal_type,
      </if>
      <if test="dealMoney != null">
        deal_money,
      </if>
      <if test="dealFee != null">
        deal_fee,
      </if>
      <if test="dealTax != null">
        deal_tax,
      </if>
      <if test="dealDate != null">
        deal_date,
      </if>
      <if test="dealTime != null">
        deal_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="recordId != null">
        #{recordId,jdbcType=CHAR},
      </if>
      <if test="quoteId != null">
        #{quoteId,jdbcType=CHAR},
      </if>
      <if test="accountId != null">
        #{accountId,jdbcType=CHAR},
      </if>
      <if test="stockId != null">
        #{stockId,jdbcType=CHAR},
      </if>
      <if test="quotePrice != null">
        #{quotePrice,jdbcType=DECIMAL},
      </if>
      <if test="amount != null">
        #{amount,jdbcType=BIGINT},
      </if>
      <if test="dealType != null">
        #{dealType,jdbcType=SMALLINT},
      </if>
      <if test="dealMoney != null">
        #{dealMoney,jdbcType=DECIMAL},
      </if>
      <if test="dealFee != null">
        #{dealFee,jdbcType=DECIMAL},
      </if>
      <if test="dealTax != null">
        #{dealTax,jdbcType=DECIMAL},
      </if>
      <if test="dealDate != null">
        #{dealDate,jdbcType=DATE},
      </if>
      <if test="dealTime != null">
        #{dealTime,jdbcType=TIME},
      </if>
    </trim>
  </insert>
</mapper>