<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ryd.business.mybatis.StQuoteMapper" >
  <resultMap id="BaseResultMap" type="com.ryd.business.model.StQuote" >
    <result column="quote_id" property="quoteId" jdbcType="CHAR" />
    <result column="account_id" property="accountId" jdbcType="CHAR" />
    <result column="stock_id" property="stockId" jdbcType="CHAR" />
    <result column="quote_price" property="quotePrice" jdbcType="DECIMAL" />
    <result column="amount" property="amount" jdbcType="BIGINT" />
    <result column="current_amount" property="currentAmount" jdbcType="BIGINT" />
    <result column="quote_type" property="quoteType" jdbcType="CHAR" />
    <result column="froze_money" property="frozeMoney" jdbcType="DECIMAL" />
    <result column="commission_fee" property="commissionFee" jdbcType="DECIMAL" />
    <result column="status" property="status" jdbcType="CHAR" />
    <result column="user_type" property="userType" jdbcType="CHAR" />
    <result column="date_time" property="dateTime" jdbcType="BIGINT" />
  </resultMap>
  <insert id="insert" parameterType="com.ryd.business.model.StQuote" >
    insert into st_quote (quote_id, account_id, stock_id, 
      quote_price, amount, current_amount, 
      quote_type, froze_money, commission_fee, 
      status, user_type, date_time
      )
    values (#{quoteId,jdbcType=CHAR}, #{accountId,jdbcType=CHAR}, #{stockId,jdbcType=CHAR}, 
      #{quotePrice,jdbcType=DECIMAL}, #{amount,jdbcType=BIGINT}, #{currentAmount,jdbcType=BIGINT}, 
      #{quoteType,jdbcType=CHAR}, #{frozeMoney,jdbcType=DECIMAL}, #{commissionFee,jdbcType=DECIMAL}, 
      #{status,jdbcType=CHAR}, #{userType,jdbcType=CHAR}, #{dateTime,jdbcType=BIGINT}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.ryd.business.model.StQuote" >
    insert into st_quote
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="quoteId != null" >
        quote_id,
      </if>
      <if test="accountId != null" >
        account_id,
      </if>
      <if test="stockId != null" >
        stock_id,
      </if>
      <if test="quotePrice != null" >
        quote_price,
      </if>
      <if test="amount != null" >
        amount,
      </if>
      <if test="currentAmount != null" >
        current_amount,
      </if>
      <if test="quoteType != null" >
        quote_type,
      </if>
      <if test="frozeMoney != null" >
        froze_money,
      </if>
      <if test="commissionFee != null" >
        commission_fee,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="userType != null" >
        user_type,
      </if>
      <if test="dateTime != null" >
        date_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="quoteId != null" >
        #{quoteId,jdbcType=CHAR},
      </if>
      <if test="accountId != null" >
        #{accountId,jdbcType=CHAR},
      </if>
      <if test="stockId != null" >
        #{stockId,jdbcType=CHAR},
      </if>
      <if test="quotePrice != null" >
        #{quotePrice,jdbcType=DECIMAL},
      </if>
      <if test="amount != null" >
        #{amount,jdbcType=BIGINT},
      </if>
      <if test="currentAmount != null" >
        #{currentAmount,jdbcType=BIGINT},
      </if>
      <if test="quoteType != null" >
        #{quoteType,jdbcType=CHAR},
      </if>
      <if test="frozeMoney != null" >
        #{frozeMoney,jdbcType=DECIMAL},
      </if>
      <if test="commissionFee != null" >
        #{commissionFee,jdbcType=DECIMAL},
      </if>
      <if test="status != null" >
        #{status,jdbcType=CHAR},
      </if>
      <if test="userType != null" >
        #{userType,jdbcType=CHAR},
      </if>
      <if test="dateTime != null" >
        #{dateTime,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
</mapper>