<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ryd.business.mybatis.StTradeRecordMapper">
  <resultMap id="BaseResultMap" type="com.ryd.business.model.StTradeRecord">
    <id column="record_id" jdbcType="CHAR" property="recordId" />
    <result column="seller_account_id" jdbcType="CHAR" property="sellerAccountId" />
    <result column="buyer_account_id" jdbcType="CHAR" property="buyerAccountId" />
    <result column="stock_id" jdbcType="CHAR" property="stockId" />
    <result column="quote_price" jdbcType="DECIMAL" property="quotePrice" />
    <result column="amount" jdbcType="BIGINT" property="amount" />
    <result column="date_time" jdbcType="BIGINT" property="dateTime" />
    <result column="buy_fee" jdbcType="DECIMAL" property="buyFee" />
    <result column="sell_fee" jdbcType="DECIMAL" property="sellFee" />
    <result column="deal_tax" jdbcType="DECIMAL" property="dealTax" />
  </resultMap>
  <sql id="Base_Column_List">
    record_id, seller_account_id, buyer_account_id, stock_id, quote_price, amount, date_time, 
    buy_fee, sell_fee, deal_tax
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from st_trade_record
    where record_id = #{recordId,jdbcType=CHAR}
  </select>
  <select id="selectListByKeySelective" resultType="java.util.List" resultMap="BaseResultMap">
    select * from st_trade_record
    <trim prefix="WHERE" prefixOverrides="AND|OR">
      <if test="record.sellerAccountId != null and record.sellerAccountId != ''" >
        seller_account_id = #{record.sellerAccountId,jdbcType=CHAR}
      </if>
      <if test="record.buyerAccountId != null and record.buyerAccountId != ''" >
        or buyer_account_id = #{record.buyerAccountId,jdbcType=CHAR}
      </if>
      <if test="record.stockId != null and record.stockId != ''" >
        and stock_id = #{record.stockId,jdbcType=CHAR}
      </if>
      <if test="startTime != null" >
        and date_time &gt;= #{startTime,jdbcType=BIGINT}
      </if>
      <if test="endTime != null" >
        and date_time &lt;= #{endTime,jdbcType=BIGINT}
      </if>
    </trim>
    order by date_time desc
    limit #{offset, jdbcType=INTEGER},#{limit, jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from st_trade_record
    where record_id = #{recordId,jdbcType=CHAR}
  </delete>
  <delete id="deleteBatch" parameterType="List">
    delete from st_trade_record where record_id in
    <foreach collection="list" index="index" item="item" open="(" separator="," close=")">
      #{item}
    </foreach>
  </delete>
  <insert id="insert" parameterType="com.ryd.business.model.StTradeRecord">
    insert into st_trade_record (record_id, seller_account_id, buyer_account_id, 
      stock_id, quote_price, amount, 
      date_time, buy_fee, sell_fee, 
      deal_tax)
    values (#{recordId,jdbcType=CHAR}, #{sellerAccountId,jdbcType=CHAR}, #{buyerAccountId,jdbcType=CHAR},
      #{stockId,jdbcType=CHAR}, #{quotePrice,jdbcType=DECIMAL}, #{amount,jdbcType=BIGINT},
      #{dateTime,jdbcType=BIGINT}, #{buyFee,jdbcType=DECIMAL}, #{sellFee,jdbcType=DECIMAL},
      #{dealTax,jdbcType=DECIMAL})
  </insert>
  <insert id="insertSelective" parameterType="com.ryd.business.model.StTradeRecord">
    insert into st_trade_record
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="recordId != null">
        record_id,
      </if>
      <if test="sellerAccountId != null">
        seller_account_id,
      </if>
      <if test="buyerAccountId != null">
        buyer_account_id,
      </if>
      <if test="stockId != null">
        stock_id,
      </if>
      <if test="quotePrice != null">
        quote_price,
      </if>
      <if test="amount != null">
        amount,
      </if>
      <if test="dateTime != null">
        date_time,
      </if>
      <if test="buyFee != null">
        buy_fee,
      </if>
      <if test="sellFee != null">
        sell_fee,
      </if>
      <if test="dealTax != null">
        deal_tax,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="recordId != null">
        #{recordId,jdbcType=CHAR},
      </if>
      <if test="sellerAccountId != null">
        #{sellerAccountId,jdbcType=CHAR},
      </if>
      <if test="buyerAccountId != null">
        #{buyerAccountId,jdbcType=CHAR},
      </if>
      <if test="stockId != null">
        #{stockId,jdbcType=CHAR},
      </if>
      <if test="quotePrice != null">
        #{quotePrice,jdbcType=DECIMAL},
      </if>
      <if test="amount != null">
        #{amount,jdbcType=BIGINT},
      </if>
      <if test="dateTime != null">
        #{dateTime,jdbcType=BIGINT},
      </if>
      <if test="buyFee != null">
        #{buyFee,jdbcType=DECIMAL},
      </if>
      <if test="sellFee != null">
        #{sellFee,jdbcType=DECIMAL},
      </if>
      <if test="dealTax != null">
        #{dealTax,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
  <insert id ="insertBatch" parameterType="java.util.List" >
    insert into st_trade_record (record_id, seller_account_id, buyer_account_id,
    stock_id, quote_price, amount,
    date_time, buy_fee, sell_fee, deal_tax)
    values
    <foreach collection ="list" item ="item" index ="index" separator =",">
      (#{item.recordId,jdbcType=CHAR}, #{item.sellerAccountId,jdbcType=CHAR}, #{item.buyerAccountId,jdbcType=CHAR},
      #{item.stockId,jdbcType=CHAR}, #{item.quotePrice,jdbcType=DECIMAL}, #{item.amount,jdbcType=BIGINT},
      #{item.dateTime,jdbcType=BIGINT}, #{item.buyFee,jdbcType=DECIMAL}, #{item.sellFee,jdbcType=DECIMAL}, #{item.dealTax,jdbcType=DECIMAL})
    </foreach>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ryd.business.model.StTradeRecord">
    update st_trade_record
    <set>
      <if test="sellerAccountId != null">
        seller_account_id = #{sellerAccountId,jdbcType=CHAR},
      </if>
      <if test="buyerAccountId != null">
        buyer_account_id = #{buyerAccountId,jdbcType=CHAR},
      </if>
      <if test="stockId != null">
        stock_id = #{stockId,jdbcType=CHAR},
      </if>
      <if test="quotePrice != null">
        quote_price = #{quotePrice,jdbcType=DECIMAL},
      </if>
      <if test="amount != null">
        amount = #{amount,jdbcType=BIGINT},
      </if>
      <if test="dateTime != null">
        date_time = #{dateTime,jdbcType=BIGINT},
      </if>
      <if test="buyFee != null">
        buy_fee = #{buyFee,jdbcType=DECIMAL},
      </if>
      <if test="sellFee != null">
        sell_fee = #{sellFee,jdbcType=DECIMAL},
      </if>
      <if test="dealTax != null">
        deal_tax = #{dealTax,jdbcType=DECIMAL},
      </if>
    </set>
    where record_id = #{recordId,jdbcType=CHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ryd.business.model.StTradeRecord">
    update st_trade_record
    set seller_account_id = #{sellerAccountId,jdbcType=CHAR},
      buyer_account_id = #{buyerAccountId,jdbcType=CHAR},
      stock_id = #{stockId,jdbcType=CHAR},
      quote_price = #{quotePrice,jdbcType=DECIMAL},
      amount = #{amount,jdbcType=BIGINT},
      date_time = #{dateTime,jdbcType=BIGINT},
      buy_fee = #{buyFee,jdbcType=DECIMAL},
      sell_fee = #{sellFee,jdbcType=DECIMAL},
      deal_tax = #{dealTax,jdbcType=DECIMAL}
    where record_id = #{recordId,jdbcType=CHAR}
  </update>
  <update id="updateBatch" parameterType="java.util.List">
    <foreach collection="list" item="item" index="index" separator="," >
      update st_trade_record
      <set>
        seller_account_id = #{item.sellerAccountId,jdbcType=CHAR},
        buyer_account_id = #{item.buyerAccountId,jdbcType=CHAR},
        stock_id = #{item.stockId,jdbcType=CHAR},
        quote_price = #{item.quotePrice,jdbcType=DECIMAL},
        amount = #{item.amount,jdbcType=BIGINT},
        date_time = #{item.dateTime,jdbcType=BIGINT},
        buy_fee = #{item.buyFee,jdbcType=DECIMAL},
        sell_fee = #{item.sellFee,jdbcType=DECIMAL},
        deal_tax = #{item.dealTax,jdbcType=DECIMAL}
      </set>

      where record_id = #{item.recordId,jdbcType=CHAR}
    </foreach>
  </update>
  <update id="updateBatchSelective" parameterType="java.util.List">
    <foreach collection="list" item="item" index="index" separator="," >
      update st_trade_record
      <set>
        <if test="item.sellerAccountId != null">
          seller_account_id = #{item.sellerAccountId,jdbcType=CHAR},
        </if>
        <if test="item.buyerAccountId != null">
          buyer_account_id = #{item.buyerAccountId,jdbcType=CHAR},
        </if>
        <if test="item.stockId != null">
          stock_id = #{item.stockId,jdbcType=CHAR},
        </if>
        <if test="item.quotePrice != null">
          quote_price = #{item.quotePrice,jdbcType=DECIMAL},
        </if>
        <if test="item.amount != null">
          amount = #{item.amount,jdbcType=BIGINT},
        </if>
        <if test="item.dateTime != null">
          date_time = #{item.dateTime,jdbcType=BIGINT},
        </if>
        <if test="item.buyFee != null">
          buy_fee = #{item.buyFee,jdbcType=DECIMAL},
        </if>
        <if test="item.sellFee != null">
          sell_fee = #{item.sellFee,jdbcType=DECIMAL},
        </if>
        <if test="item.dealTax != null">
          deal_tax = #{item.dealTax,jdbcType=DECIMAL},
        </if>
      </set>
      where record_id = #{item.recordId,jdbcType=CHAR}
    </foreach>
  </update>
</mapper>