@CHARSET "UTF-8";
/*公共样式*/

* {  margin: 0px; padding: 0px;  }
* html #wrapper { height: 100%; }

html { overflow: auto; height: 100%; font-family: "microsoft yahei";}
body { height: 100%; }
.clear { font-size: 0px; line-height: 0px; clear: both; height: 0px; visibility: hidden; }
/*字体*/
.font1 { color: #666666; font-size: 14px; font-family: "microsoft yahei"; border: 1px solid #dadada; font-weight: lighter; }
.font2 { color: #666666; font-size: 14px; font-family: "microsoft yahei";}
.font3 { color: #35a010; font-size: 14px; font-family: "microsoft yahei"; }
.font4 { color: #fbad04; font-size: 14px; font-family: "microsoft yahei"; }
.font5 { color: #de6262; font-size: 14px; font-family: "microsoft yahei"; }
.font6 { color: #999999; font-size: 14px; }
/*链接*/
.link1 { color: #666666; text-decoration: none; background-image: url(../images/06.jpg); background-repeat: no-repeat; background-position: center top; display: block; height: 34px; width: 100px; font-family: "microsoft yahei"; font-size: 14px; line-height: 34px; padding-right: 11px; padding-left: 11px; text-align: center; }
.link1:hover { color: #666666; text-decoration: none; background-image: url(../images/06.jpg); background-repeat: no-repeat; background-position: center bottom; display: block; height: 34px; width: 100px; font-family: "microsoft yahei"; font-size: 15px; line-height: 34px; padding-right: 11px; padding-left: 11px; text-align: center; }
.link2 { color:#777777; text-decoration:underline;   }
.link2:hover { color:#777777; text-decoration:underline;   }
.link3 { color:#777777; text-decoration:none;   }
.link3:hover { color:#777777; }
.link4 { color:#3083eb; text-decoration:none; font-size:12px; margin-right:5px;margin-left:5px;}
.link4:hover { color:#3083eb; text-decoration:underline; }
.link5 { color: #3083eb; text-decoration: none; background-image: url(../images/05.png); border: 1px solid #dbdbdd; padding-top: 5px; *display:inline-block;padding-right: 10px; padding-bottom: 5px; padding-left: 10px; margin-right: 2px; margin-left: 2px; font-size: 14px; }
.link5:hover { color:#ffffff;background-image: url(../images/06.png); text-decoration:none; border: 1px solid #427cc4; }
.link5.active { color:#ffffff;background-image: url(../images/06.png); text-decoration:none; border: 1px solid #427cc4; }


/*文本框*/
.txt_01 { height: 32px; width: 400px; line-height: 28px; text-indent: 10px; font-family: Arial; font-size: 14px; color: #454545; border: 1px solid #b6b6b6; *display:block;}
.txt_02 { height: 130px; width: 730px; line-height: 16px; font-family: Arial; font-size: 14px; color: #454545; border: 1px solid #b6b6b6; padding: 10px; font-weight: lighter;  *display:block;}
.txt_03 { height: 32px; width: 100px; line-height: 32px; text-indent: 10px; font-family: Arial; font-size: 14px; color: #454545; border: 1px solid #b6b6b6;  font-weight: lighter; background:#e7e8ed; *display:block; *position:absolute; margin-top:-7px;}
.txt_04 { height: 28px; width: 100px; line-height: 28px; text-indent: 10px; font-family: Arial; font-size: 14px; color: #454545; border: 1px solid #b6b6b6; *display:inline-block; margin-left:5px;margin-right:5px; }
.txt_05 { height: 28px; width: 128px; line-height: 28px; text-indent: 10px; font-family: Arial; font-size: 14px; color: #454545; border: 1px solid #b6b6b6; *display:inline-block;  margin-left:5px;}
.txt_06 { height: 32px; width: 200px; line-height: 28px; text-indent: 10px; font-family: Arial; font-size: 14px; color: #454545; border: 1px solid #b6b6b6; *display:block;}
/*线条*/
.line_01 { border-bottom-width: 1px; border-bottom-style: solid; border-bottom-color: #dadada; }
.line_02 { border-bottom-width: 1px; border-bottom-style: solid; border-bottom-color: #dadada; background-color: #f8f8f8; }
.line_03 { border-bottom-width: 1px; border-bottom-style: solid; border-bottom-color: #dadada; border-right-width: 1px; border-right-style: solid; border-right-color: #dadada; }
.line_04 { border-bottom-width: 1px; border-bottom-style: solid; border-bottom-color: #dadada; background-color: #f8f8f8; border-right-width: 1px; border-right-style: solid; border-right-color: #dadada; }

/*按钮*/
/*按钮*/
.button_01 {background: transparent url(../images/02.png); background-image: url(../images/02.png); background-repeat: no-repeat; background-position: left top; height: 34px; width: 100px; border-top-width: 0px; border-right-width: 0px; border-bottom-width: 0px; border-left-width: 0px; color: #FFF; font-size: 14px; }
.button_01:hover { background-image: url(../images/02.png); background-repeat: no-repeat; background-position: left bottom; height: 34px; width: 100px; border-top-width: 0px; border-right-width: 0px; border-bottom-width: 0px; border-left-width: 0px; color: #FFF; }
.button_02 { background: transparent url(../images/07.png); background-image: url(../images/07.png); background-repeat: no-repeat; background-position: left top; height: 30px; width: 60px; border-top-width: 0px; border-right-width: 0px; border-bottom-width: 0px; border-left-width: 0px; color: #FFF; font-size: 14px; }
.button_02:hover { background-image: url(../images/07.png); background-repeat: no-repeat; background-position: left bottom; height: 30px; width: 60px; border-top-width: 0px; border-right-width: 0px; border-bottom-width: 0px; border-left-width: 0px; color: #FFF; }

.iframe_auto { width: 100%; height: 80%; min-height: 80%; }
/*翻页*/
.page{ }

/*表单*/
.form_list {padding-top: 0px; }
.select {width:430px; height:32px;}
.select_01 {height:28px; width:auto;margin-left:5px;}
.select_02 {width:197px;}
.label_01 { font-family: "microsoft yahei"; font-size: 14px; line-height: 28px; color: #666; margin-left: 10px; margin-right: 9px; margin-bottom: 5px; }
.table_bk{ border-top-width: 1px; border-right-width: 1px; border-top-style: solid; border-right-style: solid; border-top-color: #dbdbdd; border-right-color: #dbdbdd;   }
.table_td01{ height:40px;background-color: #f0f5f7; border-bottom-width: 1px; border-left-width: 1px; border-bottom-style: solid; border-left-style: solid; border-bottom-color: #dbdbdd; border-left-color: #dbdbdd; font-size: 12px; color: #666666;  padding-left:5px;  }
.table_td02{ height:40px;border-bottom-width: 1px; border-left-width: 1px; border-bottom-style: solid; border-left-style: solid; border-bottom-color: #dbdbdd; border-left-color: #dbdbdd; font-size: 12px; color: #666666; padding-left:5px; }
.table_td03{ height:40px;border-bottom-width: 1px; border-bottom-style: solid; border-bottom-color: #dbdbdd; background-image: url(../images/03.png); background-repeat: repeat-x; font-size: 12px; color: #666666; padding-left: 5px; }
.table_td04{ height:40px;padding-left:10px;border-bottom-width: 1px; border-left-width: 1px; border-bottom-style: solid; border-left-style: solid; border-bottom-color: #dbdbdd; border-left-color: #dbdbdd; background-image: url(../images/03.png); font-size: 14px; color: #666666;  }
.table_td05{ text-align:center;padding:2px 0;background-color: #f0f5f7; border-bottom-width: 1px; border-left-width: 1px; border-bottom-style: solid; border-left-style: solid; border-bottom-color: #dbdbdd; border-left-color: #dbdbdd; font-size: 14px; color: #666666;}
.table_td06{ padding-left:10px;border-bottom-width: 1px; border-left-width: 1px; border-bottom-style: solid; border-left-style: solid; border-bottom-color: #dbdbdd; border-left-color: #dbdbdd; font-size: 12px; color: #666666; }
.table_td07{ background:#f0f5f7 }
.table_td08{ padding-left:7px; color: #666;font-family: "microsoft yahei"; font-size: 14px; float:left; }
/* 单选 复选按钮, red */
.icheckbox_flat-red, .iradio_flat-red { display: inline-block; *display: inline;
 vertical-align: middle; margin: 0; padding: 0; width: 20px; height: 20px; background: url(../images/red.png) no-repeat; border: none; cursor: pointer; }
.icheckbox_flat-red { background-position: 0 0; }
.icheckbox_flat-red.checked { background-position: -22px 0; }
.icheckbox_flat-red.disabled { background-position: -44px 0; cursor: default; }
.icheckbox_flat-red.checked.disabled { background-position: -66px 0; }
.iradio_flat-red { background-position: -88px 0; }
.iradio_flat-red.checked { background-position: -110px 0; }
.iradio_flat-red.disabled { background-position: -132px 0; cursor: default; }
.iradio_flat-red.checked.disabled { background-position: -154px 0; }

/* HiDPI support */
@media (-o-min-device-pixel-ratio: 5/4), (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 120dpi) {
 .icheckbox_flat-red, .iradio_flat-red {
  /*background-image: url(red@2x.png);*/
  -webkit-background-size: 176px 22px;
  background-size: 176px 22px;
 }
}
.skin-section .list span { position: relative; display: inline; *display:inline-block; border: #f00 solid 0px; height: 20px; width: 20px; margin-right: 25px;*margin-right: 9px; margin-left: 10px; line-height: 40px; top: 0px; *top: 5px;*margin-top: -8px; }
.skin-minimal .skin-section .list span { padding-left: 0px }
.skin-square .skin-section .list span { padding-left: 0px }
.skin-section .list span, .skin-line .skin-section label { padding-left: 0px; }
.skin-flat.skin-section .list label { padding-left: 0px; display:inline; margin-left:0px; margin-right:5px;}
.skin-line .skin-section .list { padding-right: 40px; }
.skin-line .skin-section .list span { padding-bottom: 10px }
.skin-polaris .skin-section .list span { padding-left: 37px }
.skin-futurico .skin-section .list span { padding-left: 36px }
.icheckbox_minimal, .icheckbox_minimal-red, .icheckbox_minimal-green, .icheckbox_minimal-blue, .icheckbox_minimal-aero, .icheckbox_minimal-grey, .icheckbox_minimal-orange, .icheckbox_minimal-yellow, .icheckbox_minimal-pink, .icheckbox_minimal-purple, .iradio_minimal, .iradio_minimal-red, .iradio_minimal-green, .iradio_minimal-blue, .iradio_minimal-aero, .iradio_minimal-grey, .iradio_minimal-orange, .iradio_minimal-yellow, .iradio_minimal-pink, .iradio_minimal-purple { position: absolute; top: 0px; left: 0 }
.skin input[type=checkbox], .skin input[type=radio] { position: absolute; top: 2px; left: 0 }
.icheckbox_square, .icheckbox_square-red, .icheckbox_square-green, .icheckbox_square-blue, .icheckbox_square-aero, .icheckbox_square-grey, .icheckbox_square-orange, .icheckbox_square-yellow, .icheckbox_square-pink, .icheckbox_square-purple, .iradio_square, .iradio_square-red, .iradio_square-green, .iradio_square-blue, .iradio_square-aero, .iradio_square-grey, .iradio_square-orange, .iradio_square-yellow, .iradio_square-pink, .iradio_square-purple { position: absolute; top: -1px; left: 0 }
.icheckbox_flat, .icheckbox_flat-red, .icheckbox_flat-green, .icheckbox_flat-blue, .icheckbox_flat-aero, .icheckbox_flat-grey, .icheckbox_flat-orange, .icheckbox_flat-yellow, .icheckbox_flat-pink, .icheckbox_flat-purple, .iradio_flat, .iradio_flat-red, .iradio_flat-green, .iradio_flat-blue, .iradio_flat-aero, .iradio_flat-grey, .iradio_flat-orange, .iradio_flat-yellow, .iradio_flat-pink, .iradio_flat-purple { position: absolute; top: 0; left: 0; }
.icheckbox_polaris, .iradio_polaris { position: absolute; top: -4px; left: -6px }
.icheckbox_futurico, .iradio_futurico { position: absolute; top: 2px; left: 0 }

/**/
.news_list{ *position:absolute; z-index:0; display:block; }